body.color-dashboard {
    background-color: rgba(248, 234, 218, 0.74);
}
#dashboard-section {
    width: 98vw;
    height: 735px;
    box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;
    background-color: rgba(255, 233, 198, 0.74);
    position: relative;
    top: 20px;
    margin: auto;
    border-radius: 30px;
    padding: 20px;
}

#container {
    position: absolute;
    display: grid;
    gap: 90px;
    justify-content: space-evenly;
    padding: 20px;
    bottom: 50px;
    right: 0;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.availability {
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
    color: #3E3C5C;
    position: relative;
    bottom: 81px;
    left: 340px;
}

#vehicle-image, #equipment-image {
    width: 80px;
    height: 80px;
    margin-right: auto;
    margin-top: 20px;
}

.card {
    background-color: rgba(248, 234, 218, 0.99);
    border: 2px solid #3E3C5C;
    border-radius: 8px;
    padding: 20px;
    width: 610px;
    height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #3E3C5C;
    margin-bottom: 10px;
}
#dashboard-title {
    font-weight: bold;
    color: #3E3C5C;
}
#chart-title {
    font-weight: bold;
    color: #3E3C5C;
}
.total {
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    bottom: 58px;
    left: 150px;
    color: #3E3C5C;
}
